$choco: #234;
$choco-s: #2345;
$body: #def;
$disabled: #9ab;

.container {
    display: flex;
    color: $choco;

    .left {
        width: 20%;
        margin: .5rem 1rem;
        padding: .5rem 1rem;

        nav {
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;

                li {
                    a {
                        display: block;
                        padding: 1rem;
                        color: $choco;
                        text-decoration: none;
                        border: 2px solid $choco;
                        border-radius: 1rem;

                        &.active {
                            background-color: $choco;
                            color: $body;
                        }
                    }
                }
            }
        }
    }

    .right {
        width: 100%;
        margin: .5rem 1rem;
        padding: .5rem 1rem;

        h1 {
            font-weight: 500;
            margin-block: .5rem;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            * {
                margin-block: .5rem;
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-block: 1rem;

            th {
                border-top: 2px solid $disabled;
                border-bottom: 3px solid $disabled;
                text-align: left;
                padding: 1rem .5rem;
            }

            td {
                border-top: 2px solid $disabled;
                padding: 1rem .5rem;
                max-height: 3rem;

                span {
                    letter-spacing: 2px;
                    font-weight: 500;
                }
            }

            th, td {
                vertical-align: baseline;
            }
        }
    }
}



button {
    border: 2px solid $choco;
    color: $body;
    background-color: $choco;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    cursor: pointer;

    &:focus {
        outline: .25rem solid $choco-s;
    }

    &:disabled {
        border: 2px solid $disabled;
        background-color: $body;
        color: $disabled;
        cursor: not-allowed;
    }
}

input[type="text"],
textarea {
    border: 2px solid $disabled;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    width: 100%;
    color: $choco;

    &::placeholder {
        color: $disabled;
    }

    &:focus {
        border-color: $choco;
        outline: .25rem solid $choco-s;
    }

    &:disabled {
        cursor: text;
    }
}

textarea {
    resize: vertical;
    min-height: 8rem;
    max-height: 16rem;
    transition: height 0.5s;
}