@import url('./fonts.css');

/* globals */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* globals */

.container {
    width: 1440px;
    margin: 0 auto;
}

.content {
    padding: 58px 149px;
}

.content>section>.row.space-between {
    margin: 31px 0;
}

a {
    color: #000;
    font-size: 16px;
    transition: color 0.3s;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
}

h2 {
    font-size: 29px;
    text-transform: uppercase;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 18.5px;
    text-transform: uppercase;
}

.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.date {
    font-size: 12px;
    letter-spacing: 6px;
}

.category {
    font-size: 12.5px;
    text-decoration: underline;
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 14px;
}

button {
    width: 198px;
    height: 54px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

section {
    display: flex;
}

article:hover button {
    background-color: #fff;
    color: #000;
}

article {
    transition: all 0.3s;
}

article:hover {
    background-color: #2754e7;
    color: #fff;
}

article a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    transition: none;
}

article:hover a {
    text-decoration: underline;
    color: #fff;
}

/* nav */

nav {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

#menu {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu>button {
    border: none;
    background: url('../images/menu.svg') center no-repeat;
    width: 25px;
    height: 25px;
    margin: auto 0;
    cursor: pointer;
}

#menu:hover>button {
    background: url('../images/close.svg') center no-repeat;
}

#menu>ul {
    display: none;
    position: absolute;
    top: 105px;
    padding: 40px 66px;
    width: 345px;
    background-color: #fff;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.1);
}

#menu:hover>ul {
    display: block;
    list-style-type: none;
}

#menu>ul>li {
    margin: 14px 0;
}

#menu>ul>li>a {
    transition: color 0.3s;
}

#menu>ul>li>a:hover {
    color: #2754e7;
}

nav>a {
    height: 31px;
    margin: 0 44.12% 0 auto;
}

/* .intro */

.intro {
    background-color: #000;
    color: #fff;
    height: 570px;
}

.intro>* {
    width: 50%;
}

.intro>img {
    object-fit: cover;
}

.intro>article {
    padding: 107px 109px;
}

.intro h2 {
    margin-top: 61px;
}

.intro p {
    margin: 30px 0 54px;
}

.intro .date {
    font-size: 14px;
    letter-spacing: 7px;
    line-height: 28px;
}

.intro .category {
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
}

/* featured */

.featured {
    flex-direction: column;
}

.featured article {
    width: 363px;
}

.featured article .row.space-between {
    margin: 11px 0 23px;
}

.featured article .date {
    line-height: normal;
}

.featured article.large {
    width: 557px;
}

.featured article.large .row.space-between {
    margin: 20px 0 33px;
}

article.large p {
    font-size: 18.5px;
    margin-top: 18px;
}

button.see-all {
    margin: 33px auto 40px;
    width: 238px;
    height: 42px;
}

button.see-all:hover {
    background-color: #2754E7;
}

/* issue */

.issue {
    margin-bottom: 32px;
}

.issue>div {
    width: 100%;
    height: 360px;
}

.issue>div>* {
    width: 50%;
}

.issue img {
    object-fit: cover;
}

.issue article {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;
    color: #fff;
}

.issue article:hover {
    background: #2754e7;
}

.issue h1 {
    margin-top: 119px;
}

.issue button {
    margin-top: 21px;
    width: 198px;
    height: 42px;
    border: 1px solid #fff;
    background: #000;
}

/* interviews, news */

.interviews-news {
    flex-direction: column;
}

.interviews-news>.row.space-between.margin {
    margin: 26px 0 31px;
}

.interviews-news article .category {
    line-height: 27px;
}

.interviews-news article .row.space-between {
    margin-bottom: 22px;
}

.interviews-news article .row.space-between.margin {
    margin: 8px 0 18px;
}

.interviews-news article .row.space-between.margin .date {
    line-height: 28px;
}

.interviews-news article button.see-all {
    margin: 0 auto;
}

.interviews-news button.see-all {
    margin: 8px auto 36px;
}

.interviews-news button.see-all.margin {
    margin-top: 0;
}

/* footer */

footer {
    height: 150px;
    background-color: #000;
    margin-top: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

span.design {
    color: #fff;
    font-size: 12.5px;
    font-weight: 300;
    margin: 31px 0 12px;
}

/* medium */
@media screen and (max-width: 1439px) {
    .container {
        width: 1240px;
    }

    nav>a {
        margin: 0 43% 0 auto;
    }

    .intro article {
        padding: 125px 108px 125px 104px;
    }

    .intro h2 {
        margin-top: 31px;
    }

    .intro p {
        margin: 21px 0 32px;
        font-size: 15px;
    }

    .featured article,
    .interviews-news article {
        width: 295px;
    }

    .featured article img,
    .interviews-news article img {
        width: 295px;
    }

    .featured article.large,
    .interviews-news article.large {
        width: 455px;
    }

    .featured article.large img,
    .interviews-news article.large img {
        width: 455px;
    }

    .content>section>.row.space-between {
        margin: 22px 0 34px;
    }

    button.see-all {
        margin: 27px auto 40px;
    }

    .issue {
        margin-bottom: 25px;
    }

    .issue h1 {
        margin-left: -26px;
    }

    .issue button {
        margin-top: 20px;
        margin-left: -18px;
    }

    section.interviews-news>.row.space-between {
        margin: 28px 0 54px;
    }

    section.interviews-news>.row.space-between.margin {
        margin: 19px 0 59px;
    }

    .interviews-news article .row.space-between {
        margin: 10px 0 12px;
    }

    section.interviews-news button.see-all {
        margin: 8px auto 60px;
    }

    section.interviews-news button.see-all.margin {
        margin: 0 auto 23px;
    }

    footer {
        height: 163px;
    }

    span.design {
        color: #fff;
        font-size: 12.5px;
        font-weight: 300;
        margin: 31px 0 25px;
    }
}

/* tablet */
@media screen and (max-width: 1240px) {
    .container {
        width: 768px;
    }

    .content {
        padding: 60px 23px;
    }

    nav {
        height: 65px;
        padding: 23px;
    }

    nav>a {
        margin: 0 42.75% 0 auto;
        height: 20px;
    }

    nav>a>img {
        width: 105px;
        height: 20px;
    }

    .intro {
        height: 354px;
    }

    .intro article {
        padding: 67px 21px;
    }

    .intro .date {
        font-size: 12px;
        letter-spacing: 6px;
    }

    .intro .category {
        display: none;
    }

    .intro h2 {
        font-size: 18.5px;
        margin-top: 16px;
    }

    .intro p {
        margin: 21px 0 28px;
        font-size: 12.5px;
    }

    .intro button {
        height: 40px;
    }

    .featured article,
    .interviews-news article {
        width: 220px;
    }

    .featured article img,
    .interviews-news article img {
        width: 220px;
    }

    .featured article.large,
    .interviews-news article.large {
        width: 345px;
    }

    .featured article.large img,
    .interviews-news article.large img {
        width: 345px;
    }

    .content>section>.row.space-between {
        margin: 22px 0 11px;
    }

    .content article.large .row.space-between {
        margin: 14px 0;
    }

    .content article.large h3 {
        font-size: 18.5px;
    }

    .content article.large p {
        font-size: 14.5px;
        margin-top: 23px;
    }

    .content article .row.space-between {
        margin: 15px 0;
    }

    .content article h4 {
        font-size: 16.5px;
    }

    button.see-all {
        margin: 37px auto 40px;
    }

    .issue {
        margin-bottom: 40px;
    }

    .issue>div {
        height: 275px;
    }

    .issue h1 {
        margin-top: 88px;
        margin-left: -5px;
        font-size: 19px;
    }

    .issue button {
        margin-top: 25px;
        margin-left: -2px;
    }

    section.interviews-news>.row.space-between {
        margin: 31px 0 44px;
    }

    section.interviews-news>.row.space-between.margin {
        margin: 26px 0 45px;
    }

    section.interviews-news article .row.space-between {
        margin: 9px 0 14px;
    }

    section.interviews-news article .category {
        line-height: normal;
    }

    section.interviews-news article .row.space-between.margin {
        margin: 1px 0 9px;
    }

    section.interviews-news article .row.space-between.margin .category {
        line-height: 30px;
    }

    section.interviews-news button.see-all {
        margin: 8px auto 32px;
    }

    section.interviews-news button.see-all.margin {
        margin: 0 auto 4px;
    }

    footer {
        height: 163px;
    }

    span.design {
        color: #fff;
        font-size: 12.5px;
        font-weight: 300;
        margin: 31px 0 25px;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }

    .content {
        padding: 45px 10px 33px;
    }

    .content section>.row {
        flex-direction: column;
    }

    nav {
        height: 65px;
        padding: 23px;
    }

    nav>a {
        margin: 0 31.31% 0 auto;
        height: 20px;
    }

    nav>a>img {
        width: 105px;
        height: 20px;
    }

    #menu>ul {
        top: 92px;
        left: -23px;
        width: 320px;
        box-shadow: 0 100px 0 0 rgba(0, 0, 0, 0.1);
    }

    .intro {
        flex-direction: column;
        height: 540px;
    }

    .intro>* {
        width: 100%;
    }

    .intro img {
        min-height: 294px;
    }

    .intro article {
        padding: 11px;
        height: 246px;
    }

    .intro .date {
        font-size: 12px;
        letter-spacing: 6px;
    }

    .intro .category,
    article.large .category {
        display: none;
    }

    .intro h2 {
        font-size: 18.5px;
        margin-top: 16px;
    }

    .intro p {
        margin: 19px 0 20px;
        font-size: 12.5px;
    }

    .intro button {
        height: 40px;
    }

    .content article {
        width: 295px !important;
    }

    .content article img {
        width: 295px !important;
    }

    .content>section>.row.space-between {
        margin: 0;
    }

    .featured article {
        margin: 10px 0;
    }

    .featured article.large {
        margin: 14px 0;
    }

    .featured article.large .row.space-between {
        margin: 9px 0 16px;
    }

    .content article.large h3 {
        font-size: 18.5px;
    }

    .content article.large p {
        font-size: 14.5px;
        margin-top: 19px;
    }

    .content article .row.space-between {
        margin: 2px 0 15px;
    }

    .content article h4 {
        font-size: 16.5px;
    }

    img[src*="img-2"] {
        height: 217px;
    }

    img[src*="img-3"] {
        height: 210px;
    }

    button.see-all {
        margin: 22px auto 42px;
    }

    .issue {
        margin: 0 -10px 50px;
    }

    .issue>div {
        width: 100%;
        height: 414px;
        flex-direction: column;
    }

    .issue img {
        width: 100%;
        min-height: 245px;
    }

    .issue article {
        min-width: 100%;
        min-height: 174px;
    }

    .issue h1 {
        margin-top: 42px;
        margin-left: -5px;
        font-size: 19px;
    }

    .issue button {
        margin-top: 25px;
        margin-left: -2px;
    }

    section.interviews-news>.row.space-between.margin {
        margin: 4px 0 20px;
    }

    section.interviews-news article {
        margin: 13px 0;
    }

    section.interviews-news article .row.space-between {
        margin: 9px 0 14px;
    }

    section.interviews-news article:nth-child(2) .row.space-between,
    section.interviews-news article:nth-child(3) .row.space-between {
        margin: 0 0 14px;
    }

    section.interviews-news article:nth-child(2) img,
    section.interviews-news article:nth-child(3) img {
        height: 210px;
    }

    section.interviews-news article .category {
        line-height: normal;
    }

    section.interviews-news article .row.space-between.margin {
        margin: 0 0 9px;
    }

    section.interviews-news article .row.space-between.margin .category {
        line-height: 30px;
    }

    section.interviews-news article:nth-child(2) .row.space-between.margin,
    section.interviews-news article:nth-child(3) .row.space-between.margin {
        margin: -8px 0 8px;
    }

    section.interviews-news button.see-all {
        margin: 16px auto 43px;
    }

    section.interviews-news button.see-all.margin {
        margin: 0 auto 4px;
    }

    footer {
        height: 163px;
    }

    span.design {
        color: #fff;
        font-size: 12.5px;
        font-weight: 300;
        margin: 31px 0 25px;
    }
}