<div class="product">
  <h1 *ngIf="product" class="product-h1">{{ product.name | titlecase }}</h1>
  <div class="product-view">
    <ul class="product-view-menu" *ngIf="path == 'roll'">
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == '' }" (click)="ui.subcatChange('')">Всі</li>
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == 'roll-philadelphia' }" (click)="ui.subcatChange('roll-philadelphia')">Роли Філадельфія</li>
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == 'roll-california' }" (click)="ui.subcatChange('roll-california')">Роли Каліфорнія</li>
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == 'roll-baked' }" (click)="ui.subcatChange('roll-baked')">Запечені роли</li>
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == 'sushi-craft' }" (click)="ui.subcatChange('sushi-craft')">Фірмові суші</li>
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == 'roll-maki' }" (click)="ui.subcatChange('roll-maki')">Роли Макі</li>
      <li class="product-view-menu-item" [ngClass]="{ active: ui.subcat == 'sushi-premium' }" (click)="ui.subcatChange('sushi-premium')">Преміум суші</li>
    </ul>
    <div class="product-view-wrap">
      <app-item *ngFor="let item of items | filter:path:ui.subcat" [item]="item" (orderEvent)="order($event)"></app-item>
    </div>
  </div>
</div>
