@import "../../../style/media";
@import "../../../style/colors";
@import "../../../style/mixins";

.product {
  @include container();

  &-h1 {
    @include h1-lined();
  }

  &-view {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 1.5rem;

    @include _1200 {
      margin-inline: -10.5rem;
      padding-block: 4rem;
    }

    &-menu {
      display: none;

      @include _1200 {
        list-style: none;
        align-self: stretch;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
      }

      &-item {
        text-transform: capitalize;
        padding: 1.5rem 0.75rem;
        width: 10rem;
        text-align: center;
        border: 1px solid $gray;
        margin-left: -1px;
        font-weight: bold;
        color: $muted;
        cursor: pointer;
        transition: 0.33s;

        @include _1200 {
          &:hover {
            color: $text;
          }
        }

        &.active {
          border-color: transparent;
          position: relative;
          color: $text;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0.25rem;
            background-color: $monosushi;
          }
        }
      }
    }

    &-wrap {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
