<div class="offer">
  <h1 class="offer-h1">Акції на суші</h1>
  <div class="offer-wrap">
    <div class="offer-wrap-item stub" *ngIf="offers.length < 1">
      <a
        class="offer-wrap-item-upper"
      >
        <div class="offer-wrap-item-overflow">
        </div>
        <h5 class="offer-h5">Немає акцій</h5>
      </a>
    </div>
    <div class="offer-wrap-item" *ngFor="let offer of offers">
      <a
        class="offer-wrap-item-upper"
        [routerLink]="offer.id?.toString() ?? ''"
      >
        <div class="offer-wrap-item-overflow">
          <img class="offer-wrap-item-img" [src]="ui.firebase(offer.logo)" />
        </div>
        <h5 class="offer-h5">{{ offer.name | titlecase }}</h5>
      </a>
      <a [routerLink]="offer.id?.toString() ?? ''" class="offer-wrap-item-lower"
        >Дізнатись більше</a
      >
    </div>
  </div>
  <h2 class="offer-h2">Суші-акції у Львові</h2>
  <p class="offer-p">
    Мрієте смакувати суші, не переплачуючи? З Monosushi це можливо! Ми зібрали
    найвигідніші акційні суші у Львові у цьому розділі сайту. Ви можете легко
    ознайомитися з усіма спеціальними пропозиціями та замовити роли за
    привабливою ціною. А ще &mdash; отримати рол або цілий сет у подарунок!
  </p>
  <h2 class="offer-h2">Акційні суші, які вам точно сподобаються</h2>
  <p class="offer-p">
    Ми пропонуємо смачні та вигідні акції, які допоможуть смакувати ролами
    вигідно:
  </p>
  <ul class="offer-ul">
    <li class="offer-ul-li">Акція “Рол тижня”. Знижка 50% на один з ролів у нашому меню.</li>
    <li class="offer-ul-li">
      3+1 = 5. Замовляйте 4 роли та отримуйте п’ятий абсолютно безкоштовно. Те,
      що треба на велику компанію.
    </li>
    <li class="offer-ul-li">
      День народження з Моносуші. Отримайте “Запечений сет” у подарунок, якщо
      сьогодні святкуєте день народження.
    </li>
    <li class="offer-ul-li">
      Акція на самовивіз. Якщо ви забираєте суші самостійно, отримайте запечені
      моно макі у подарунок.
    </li>
    <li class="offer-ul-li">
      Фотомарафон &mdash; розіграш ролів за контент зі згадкою Monosushi в
      соціальних мережах.
    </li>
  </ul>
  <h2 class="offer-h2">
    Доставка суші по акції у Львові: правила від Monosushi
  </h2>
  <p class="offer-p">
    Більшість наших акцій не сумуються між собою, а також доступні при
    замовленні суші на певну суму. Ознайомитися з правилами та умовами кожної
    акції можна, натиснувши “Дізнатися більше”. Також наші менеджери із
    задоволенням проконсультують вас акцій на суші у Львові.
  </p>
  <p class="offer-p">
    Швидка доставка акційних суші, неповторний смак, аромат та гарна подача
    гарантовані. Адже ми &mdash; справжні перфекціоністи, які дуже уважні до
    дрібниць. Готуємо роли з добірних продуктів, стежимо за дотриманням усіх
    тонкощів кулінарного процесу. На нашій кухні стерильно, а наші рецепти —
    досконалі.
  </p>
  <p class="offer-p">
    Скоріш оформляйте замовлення та смакуйте улюблені роли вигідно з Monosushi!
  </p>
</div>
