$font: Arial, Helvetica, sans-serif;

$body: #ff7f5f;
$main: #53aacb;
$icon: #77c4dd;

$icons: twitter 'icons/twitter.svg' #6ec5dc #6fc4da,
    facebook'icons/facebook.svg' #5188bc #3369a4,
    linkedin 'icons/linkedin.svg' #00a8c8 #008cb3,
    instagram 'icons/instagram.svg' #7cbe21 #3e962d,
    youtube 'icons/youtube.svg' #e52d27 #b31217,
    tumblr 'icons/tumblr.svg' #2d4d69 #263d55,
    dribbble 'icons/dribbble.svg' #ec72a2 #df3b70;