$bg-gray-300: #eee;
$bg-gray-600: #999;

h1 {
    text-align: center;
    background-color: $bg-gray-300;
    font-weight: 500;
    padding: 1rem;
    border-bottom: 3px solid $bg-gray-600;
    position: fixed;
    width: 100%;
}