<div class="container">
    <div class="card">
        <img src="../assets/censor.png" alt="Censor">
        <h4>Angular Censor</h4>
        <hr>
        <button [routerLink]="['../works/censor']">Details</button>
    </div>
    <div class="card">
        <img src="../assets/userlist.png" alt="User List">
        <h4>Angular User List</h4>
        <hr>
        <button [routerLink]="['../works/userlist']">Details</button>
    </div>
    <div class="card">
        <img src="../assets/tasklist.png" alt="Task List">
        <h4>Angular Task List</h4>
        <hr>
        <button [routerLink]="['../works/tasklist']">Details</button>
    </div>
</div>