<div class="profile">
  <div class="profile-control">
    <nav class="profile-control-nav">
      <a
        routerLink="../main"
        routerLinkActive="active"
        class="profile-control-nav-link"
      >
        Особисті дані
      </a>
      <a
        routerLink="../history"
        routerLinkActive="active"
        class="profile-control-nav-link"
      >
        Історія замовлень
      </a>
      <a
        routerLink="../password"
        routerLinkActive="active"
        class="profile-control-nav-link"
      >
        Змінити пароль
      </a>
    </nav>
    <button (click)="logout()" class="profile-control-logout">Вихід</button>
  </div>
  <div class="profile-view" [ngClass]="{ table: path == 'history' }">
    <ng-container [ngSwitch]="path">
      <ng-container *ngSwitchCase="'main'">
        <form class="profile-view-form" [formGroup]="form">
          <h3 class="profile-view-h3">Особисті дані</h3>
          <div class="profile-view-form-row">
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                formControlName="firstName"
                name="inputFirstName"
                id="inputFirstName"
                placeholder="Ваше ім'я"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="text"
                formControlName="lastName"
                name="inputLastName"
                id="inputLastName"
                placeholder="Ваше прізвище"
              />
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="phone"
              formControlName="phone"
              name="inputEmail"
              id="inputEmail"
              placeholder="0987654321"
            />
            <span matTextPrefix>+38</span>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              matInput
              type="email"
              formControlName="email"
              name="inputEmail"
              id="inputEmail"
              placeholder="Ваша електронна пошта"
            />
          </mat-form-field>
          <h3 class="profile-view-h3">Адреси</h3>
          <ng-container formArrayName="addresses">
            <ng-container
              *ngFor="let addressForm of addresses.controls; index as i"
            >
              <mat-form-field appearance="outline" [formGroupName]="i">
                <input
                  matInput
                  type="text"
                  formControlName="address"
                  name="inputAddress"
                  id="inputAddress"
                  placeholder="Адреса"
                  (blur)="ui.updateAddress(i)"
                />
                <button mat-icon-button matSuffix (click)="ui.deleteAddress(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-form-field>
            </ng-container>
          </ng-container>
          <div class="profile-view-form-spaced">
            <button class="profile-view-form-aux" (click)="ui.createAddress()">
              Додати адресу
            </button>
            <button
              class="profile-view-form-main"
              [disabled]="form.invalid"
              (click)="save()"
            >
              Зберегти зміни
            </button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'history'">
        <div
          class="profile-view-wrap"
          *ngIf="ui.mobile; else historyTableDesktop"
        >
          <table class="profile-view-wrap-table stub" *ngIf="orders.length < 1">
            <tbody class="profile-view-wrap-table-tbody">
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">№ замовлення</th>
                <td class="profile-view-wrap-table-td">-</td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Дата та час</th>
                <td class="profile-view-wrap-table-td">...</td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Адреса</th>
                <td class="profile-view-wrap-table-td">(немає)</td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Сума</th>
                <td class="profile-view-wrap-table-td"><b>0</b> грн</td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Статус</th>
                <td class="profile-view-wrap-table-td">-</td>
              </tr>
            </tbody>
          </table>
          <table
            class="profile-view-wrap-table"
            *ngFor="let order of orders; index as i"
          >
            <tbody class="profile-view-wrap-table-tbody">
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">№ замовлення</th>
                <td class="profile-view-wrap-table-td">
                  {{ order.id }}
                </td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Дата та час</th>
                <td class="profile-view-wrap-table-td">
                  {{ order.date | date : "HH:mm dd.MM.yyyy" }}
                </td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Адреса</th>
                <td class="profile-view-wrap-table-td">
                  {{ order.address }}
                  <ng-container *ngIf="order.selfPickup">
                    <br /><b>(самовивіз)</b>
                  </ng-container>
                  <ng-container *ngIf="order.call">
                    <br /><b>(перетелефонувати)</b>
                  </ng-container>
                </td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Сума</th>
                <td class="profile-view-wrap-table-td">
                  <b>{{ order.total }}</b> грн<br />
                  {{ order.cash ? "готівкою" : "безготвіково" }}
                  <br /><br />
                  <ng-container *ngFor="let item of order.items">
                    <i>"{{ item.name }}"</i>&nbsp;<b>({{ item.qty }})</b>
                    <br /><br />
                  </ng-container>
                  <ng-container *ngIf="order.selfPickup && order.total >= 300">
                    <i>"Запечені моно макі з лососем"</i>&nbsp;<b>(1)</b>
                    <br /><br />
                  </ng-container>
                  прибори &ndash; <b>{{ order.utensils.regular }}</b>
                  <br />
                  <b *ngIf="order.utensils.trial != 0"> (+навчальний) </b>
                </td>
              </tr>
              <tr class="profile-view-wrap-table-tr">
                <th class="profile-view-wrap-table-th">Статус</th>
                <td class="profile-view-wrap-table-td">
                  <div class="profile-view-action">
                    <span *ngIf="!order.complete" class="order pending">
                      Очікується
                    </span>
                    <span *ngIf="order.complete" class="order complete">
                      Виконано
                    </span>
                    <button
                      *ngIf="order.complete"
                      class="profile-view-action-control"
                      (click)="repeatOrder(i)"
                    >
                      Повторити
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #historyTableDesktop>
          <table class="profile-view-table">
            <thead class="profile-view-table-thead">
              <tr class="profile-view-table-tr">
                <th class="profile-view-table-th" style="width: 15%">
                  № замовлення
                </th>
                <th class="profile-view-table-th" style="width: 20%">
                  Дата та час
                </th>
                <th class="profile-view-table-th" style="width: 35%">Адреса</th>
                <th class="profile-view-table-th" style="width: 15%">Сума</th>
                <th class="profile-view-table-th" style="width: 15%">Статус</th>
              </tr>
            </thead>
            <tbody class="profile-view-table-tbody">
              <tr class="profile-view-table-tr stub" *ngIf="orders.length < 1">
                <td class="profile-view-table-td">-</td>
                <td class="profile-view-table-td">...</td>
                <td class="profile-view-table-td">(немає)</td>
                <td class="profile-view-table-td"><b>0</b> грн</td>
                <td class="profile-view-table-td">-</td>
              </tr>
              <ng-container *ngFor="let order of orders; index as i">
                <tr class="profile-view-table-tr">
                  <td class="profile-view-table-td lined">
                    {{ order.id }}
                  </td>
                  <td class="profile-view-table-td lined">
                    {{ order.date | date : "HH:mm dd.MM.yyyy" }}
                  </td>
                  <td class="profile-view-table-td lined">
                    {{ order.address }}
                    <ng-container *ngIf="order.selfPickup">
                      <br /><b>(самовивіз)</b>
                    </ng-container>
                    <ng-container *ngIf="order.call">
                      <br /><b>(перетелефонувати)</b>
                    </ng-container>
                  </td>
                  <td class="profile-view-table-td lined">
                    <b>{{ order.total }}</b> грн<br />
                    {{ order.cash ? "готівкою" : "безготвіково" }}
                    <br /><br />
                    прибори &ndash; <b>{{ order.utensils.regular }}</b>
                    <br />
                    <b *ngIf="order.utensils.trial != 0"> (+навчальний) </b>
                  </td>
                  <td class="profile-view-table-td lined">
                    <div class="profile-view-action">
                      <span *ngIf="!order.complete" class="order pending">
                        Очікується
                      </span>
                      <span *ngIf="order.complete" class="order complete">
                        Виконано
                      </span>
                      <button
                        *ngIf="order.complete"
                        class="profile-view-action-control"
                        (click)="repeatOrder(i)"
                      >
                        Повторити
                      </button>
                    </div>
                  </td>
                </tr>
                <tr
                  *ngFor="let item of order.items"
                  class="profile-view-table-tr"
                >
                  <td class="profile-view-table-td"></td>
                  <td class="profile-view-table-td" colspan="2">
                    {{ item.name }}
                  </td>
                  <td class="profile-view-table-td" colspan="2">
                    <b>{{ item.qty }}</b>
                  </td>
                </tr>
                <tr
                  *ngIf="order.selfPickup && order.total >= 300"
                  class="profile-view-table-tr"
                >
                  <td class="profile-view-table-td"></td>
                  <td class="profile-view-table-td" colspan="2">
                    Запечені моно макі з лососем
                  </td>
                  <td class="profile-view-table-td" colspan="2">
                    <b>1</b>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchCase="'password'">
        <form class="profile-view-form" [formGroup]="form" (input)="unError()">
          <h3 class="profile-view-form-h3">Змінити пароль</h3>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="ui.obscure ? 'password' : 'text'"
              formControlName="password"
              name="inputPassword"
              id="inputPassword"
              placeholder="Старий пароль"
            />
            <mat-icon matSuffix (click)="ui.obscure = !ui.obscure">
              {{ ui.obscure ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="ui.obscure ? 'password' : 'text'"
              formControlName="newPassword"
              name="inputNewPassword"
              id="inputNewPassword"
              placeholder="Новий пароль"
            />
            <mat-icon matSuffix (click)="ui.obscure = !ui.obscure">
              {{ ui.obscure ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              matInput
              [type]="ui.obscure ? 'password' : 'text'"
              formControlName="newPasswordAux"
              name="inputNewPasswordAux"
              id="inputNewPasswordAux"
              placeholder="Повторіть новий пароль"
            />
            <mat-icon matSuffix (click)="ui.obscure = !ui.obscure">
              {{ ui.obscure ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
          <span
            class="profile-view-form-error"
            [ngClass]="{
              active:
                form.controls['newPassword'].value !=
                  form.controls['newPasswordAux'].value || error
            }"
          >
            Паролі не співпадають
          </span>
          <div class="profile-view-form-spaced">
            <a
              class="profile-view-form-aux"
              routerLink="../main"
              (click)="ui.resetForm()"
            >
              Скасувати
            </a>
            <button
              class="profile-view-form-main"
              [disabled]="form.invalid"
              (click)="save()"
            >
              Зберегти зміни
            </button>
          </div>
        </form>
      </ng-container>
    </ng-container>
    <button
      *ngIf="ui.mobile"
      mat-button
      color="warn"
      class="profile-view-logout"
      (click)="logout()"
    >
      Вихід
    </button>
  </div>
</div>
