<div class="dialog_users-container">
  <button
    class="dialog_users-container-close"
    mat-icon-button
    (click)="close()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <ng-container *ngIf="ui.register; else userLoginLayout">
    <h2 class="dialog_users-container-title">Зареєструватись</h2>
    <form class="dialog_users-container-form" [formGroup]="form">
      <div class="dialog_users-container-form-row">
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            formControlName="firstName"
            name="inputFirstName"
            id="inputFirstName"
            placeholder="Ваше ім'я"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="text"
            formControlName="lastName"
            name="inputLastName"
            id="inputLastName"
            placeholder="Ваше прізвище"
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="tel"
          formControlName="phone"
          name="inputPhone"
          id="inputPhone"
          placeholder="0987654321"
        />
        <span matTextPrefix>+38</span>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="email"
          formControlName="email"
          name="inputEmail"
          id="inputEmail"
          placeholder="Ваша електронна пошта"
        />
      </mat-form-field>
      <div class="dialog_users-container-form-row">
        <mat-form-field appearance="outline">
          <input
            matInput
            [type]="ui.obscure ? 'password' : 'text'"
            formControlName="password"
            name="inputPassword"
            id="inputPassword"
            placeholder="Пароль"
          />
          <mat-icon matSuffix (click)="ui.obscure = !ui.obscure">
            {{ ui.obscure ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            matInput
            [type]="ui.obscure ? 'password' : 'text'"
            formControlName="passwordAux"
            name="inputPasswordAux"
            id="inputPasswordAux"
            placeholder="Підтвердіть пароль"
          />
          <mat-icon matSuffix (click)="ui.obscure = !ui.obscure">
            {{ ui.obscure ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>
      </div>
      <span
        class="dialog_users-container-form-error"
        [ngClass]="{
          active:
            form.controls['password'].value !=
            form.controls['passwordAux'].value
        }"
      >
        Паролі не співпадають
      </span>
      <div class="dialog_users-container-form-check">
        <input
          type="checkbox"
          name="inputAgreement"
          id="inputAgreement"
          formControlName="agreement"
          class="dialog_users-container-form-check-control"
          value="false"
        />
        <label
          for="inputAgreement"
          class="dialog_users-container-form-check-label"
        >
          Я погоджуюся з
          <a class="dialog_users-container-action" href="#">
            Правилами користування
          </a>
        </label>
      </div>
      <button
        class="dialog_users-container-form-submit"
        type="submit"
        [disabled]="form.invalid || error"
        (click)="register()"
      >
        Зареєструватись
      </button>
      <span class="dialog_users-container-toggle">
        Вже зареєстровані?
        <button
          class="dialog_users-container-action"
          (click)="ui.registerToggle()"
        >
          Увійти
        </button>
      </span>
    </form>
  </ng-container>
  <ng-template #userLoginLayout>
    <h2 class="dialog_users-container-title">Вхід в кабінет</h2>
    <form class="dialog_users-container-form" [formGroup]="form">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="email"
          name="loginEmail"
          id="loginEmail"
          formControlName="email"
          placeholder="Електронна пошта"
          (input)="unError()"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          name="loginPass"
          id="loginPass"
          formControlName="password"
          placeholder="Пароль"
          (input)="unError()"
        />
      </mat-form-field>
      <span
        class="dialog_users-container-form-error"
        [ngClass]="{ active: (form.touched && form.invalid) || error }"
      >
        Невірні дані
      </span>
      <button
        class="dialog_users-container-form-submit"
        type="submit"
        [disabled]="form.invalid || error"
        (click)="login()"
      >
        Увійти в кабінет
      </button>
      <button
        class="dialog_users-container-action center"
        (click)="ui.registerToggle()"
      >
        Зареєструватись
      </button>
    </form>
  </ng-template>
</div>
