@font-face {
  font-family: RotondaC;
  src: url('../assets/fonts/rotondac/RotondaC.woff2');
}

@font-face {
  font-family: RotondaC;
  src: url('../assets/fonts/rotondac/RotondaC-Bold.woff2');
  font-weight: bold;
}
