footer(class='footer')
        div(class='footer__flex')
            div(class='footer__brand')
                h3(class='footer__h3') Dreamshare
            div(class='footer__company')
                h4(class='footer__h4') Company
                ul(class='footer__menu')
                    li(class='footer__menu__item')
                        a(href='#' class='footer__menu__link') About
                    li(class='footer__menu__item')
                        a(href='#' class='footer__menu__link') Contact
                    li(class='footer__menu__item')
                        a(href='#' class='footer__menu__link') Press
                    li(class='footer__menu__item')
                        a(href='#' class='footer__menu__link') Blog
                    li(class='footer__menu__item')
                        a(href='#' class='footer__menu__link') Terms and Privacy
                    li(class='footer__menu__item')
                        a(href='#' class='footer__menu__link') Help
            div(class='footer__partners')
                h4(class='footer__h4') Partners
                div(class='footer__logo')
                    h5(class='footer__logo__designedby') Designed by
                    span(class='footer__logo__vector')