header(class='header')
        nav(class='header__nav')
            a(href='' class='header__nav__logo') Dreamshare
            ul(class='header__nav__menu')
                li: a(href='#' class='header__nav__menu__link') Log in
                li: a(href='#' class='header__nav__menu__link header__nav__menu__link--outlined') Sign up
        section(class='header__intro')
            h1(class='header__intro__h1') Share your holiday dream
            p(class='header__intro__p') And find the perfect partner to fullfill it
            button(class='header__intro__button') Find your holiday partner