*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000;
}

.ball {
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 32px;
    left: 32px;
    border-radius: 50%;
    background-color: #888;
    border: 0.25vw solid #fff;
    box-shadow: 0.125vw 0.125vw 2vw 0.5vw #888;
}