<div class="delivery">
  <h1 class="delivery-h1">Доставка та оплата</h1>
  <div class="delivery-zone">
    <div class="delivery-zone-info">
      <i class="i-main-delivery"></i>
      <article class="delivery-zone-info-green">
        <h3 class="delivery-h3-green">Зелена зона</h3>
        <p class="delivery-p-small">
          В межах зеленої зони ми доставляємо<br />
          протягом <b class="delivery-b-green">1 год.</b>
        </p>
        <p class="delivery-p-small">
          Мінімальна сума замовлення в цю зону<br />
          становить <b class="delivery-b-green">300 грн</b>
        </p>
      </article>
    </div>
    <div class="delivery-zone-info">
      <i class="i-main-delivery"></i>
      <article class="delivery-zone-info-yellow">
        <h3 class="delivery-h3-yellow">Жовта зона</h3>
        <p class="delivery-p-small">
          В межах зеленої зони ми доставляємо<br />
          протягом <b class="delivery-b-yellow">1.5 год.</b>
        </p>
        <p class="delivery-p-small">
          Мінімальна сума замовлення в цю зону<br />
          становить <b class="delivery-b-yellow">400 грн</b>
        </p>
      </article>
    </div>
  </div>
  <div class="delivery-map">
    <app-map></app-map>
  </div>
  <p class="delivery-p">
    Команда "Monosushi" пропонує надзвичайно зручну систему доставки та оплати.
    Чіткість наших стандартів роботи забезпечує швидке і якісне виконання
    замовлень для наших гостей.
  </p>
  <p class="delivery-p">
    Ми поділили Львів на умовні зони доставки &ndash; зелену та жовту. Для
    кожної зони ми чітко визначаємо час доставки. Зелена зона доставки
    знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються
    до 1 год. В жовту зону, яка знаходиться значно далі &ndash; до 1,5 год.
  </p>
  <h2 class="delivery-h2">Оплата</h2>
  <div class="delivery-payment">
    <div class="delivery-payment-option">
      <span class="delivery-payment-option-icon">
        <i class="i-delivery-cash"></i>
      </span>
      <article class="delivery-payment-option-info">
        <h4 class="delivery-h4">Оплата готівкою</h4>
        <p class="delivery-p-smaller">
          Розраховуйтесь за свої улюблені сушики <br />
          готівкою при отриманні.
        </p>
      </article>
    </div>
    <div class="delivery-payment-option">
      <span class="delivery-payment-option-icon">
        <i class="i-delivery-card"></i>
      </span>
      <article class="delivery-payment-option-info">
        <h4 class="delivery-h4">Безготівкова оплата</h4>
        <p class="delivery-p-smaller">
          Розраховуйтесь за свої улюблені сушики <br />
          онлайн або карткою при отриманні.
        </p>
      </article>
    </div>
  </div>
  <p class="delivery-p">
    Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата
    онлайн або ж розрахунок карткою.
  </p>
  <p class="delivery-p">
    Просто позначте найбільш зручний для Вас спосіб оплати при оформленні
    замовлення на сайті або ж повідомте про це оператора по телефону.
  </p>
  <p class="delivery-p">
    Доставка "Моносуші" &ndash; це чіткі стандарти роботи, високий рівень
    сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише
    три слова "Моносуші &ndash; це любов".
  </p>
</div>
