@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Light.ttf');
    font-weight: 300;
    font-style: normal;
}