<div class="main">
  <swiper-container #swiper class="main-offers">
    <swiper-slide *ngIf="offers.length < 1" class="main-offers-slide">
      <a class="main-offers-slide-link"><i class="i-misc-stub"></i></a>
    </swiper-slide>
    <swiper-slide
      *ngIf="offers.length < 1 && !ui.mobile"
      class="main-offers-slide"
    >
      <a class="main-offers-slide-link"><i class="i-misc-stub"></i></a>
    </swiper-slide>
    <swiper-slide *ngFor="let offer of offers" class="main-offers-slide">
      <a [routerLink]="'offers/' + offer.id" class="main-offers-slide-link">
        <img
          [src]="ui.firebase(offer.logo)"
          class="main-offers-slide-link-img"
        />
      </a>
    </swiper-slide>
  </swiper-container>
  <div class="main-banner">
    <div class="main-banner-zones">
      <i class="i-main-delivery"></i>
      <a class="main-banner-zones-link" routerLink="delivery">Зони доставки</a>
    </div>
    <div class="main-banner-time">
      <i class="i-main-monoman"></i>
      <span class="main-banner-info">
        Середній час доставки в <br />
        зеленій зоні
        <b>00:{{ ui.conf.maxDeliveryTime }}:00</b>
      </span>
    </div>
    <div class="main-banner-hours">
      <i class="i-main-monobonus"></i>
      <span *ngIf="ui.conf.workDay" class="main-banner-info">
        Наш графік роботи<br />
        Працюємо з <b>{{ ui.conf.workFrom }}</b> до <b>{{ ui.conf.workTo }}</b>
      </span>
    </div>
  </div>
  <div class="main-products">
    <ul class="main-products-menu">
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == '' }"
        (click)="ui.categoryChange('')"
      >
        {{ ui.categories[""] }}
      </li>
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == 'philadelphia' }"
        (click)="ui.categoryChange('philadelphia')"
      >
        {{ ui.categories.philadelphia }}
      </li>
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == 'california' }"
        (click)="ui.categoryChange('california')"
      >
        {{ ui.categories.california }}
      </li>
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == 'baked' }"
        (click)="ui.categoryChange('baked')"
      >
        {{ ui.categories.baked }}
      </li>
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == 'craft' }"
        (click)="ui.categoryChange('craft')"
      >
        {{ ui.categories.craft }}
      </li>
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == 'maki' }"
        (click)="ui.categoryChange('maki')"
      >
        {{ ui.categories.maki }}
      </li>
      <li
        class="main-products-menu-item"
        [ngClass]="{ active: ui.category == 'premium' }"
        (click)="ui.categoryChange('premium')"
      >
        {{ ui.categories.premium }}
      </li>
    </ul>
    <div class="main-products-wrap">
      <app-item
        *ngFor="let item of items | filter : 'rolls' : ui.category"
        [item]="item"
        (orderEvent)="order($event)"
      ></app-item>
    </div>
  </div>
  <article class="main-info" [ngClass]="{ spoiler: ui.spoiler }">
    <h1 class="main-info-h1">Доставка суші у Львові від "Monosushi"</h1>
    <p class="main-info-p">
      Суші підкорюють багатоманіттям видів та яскравими смаками. Це &mdash;
      улюблена страва японської кухні, яку варто обов’язково спробувати.
      Філадельфія, Каліфорнія, макі &mdash; суші у Львові вже чекають на вас.
    </p>
    <section class="main-info-pros">
      <h2 class="main-info-h2">Чому варто замовити суші в Monosushi?</h2>
      <p class="main-info-p">
        У Monosushi ми готуємо роли, які вам сподобаються. Адже наша команда
        &mdash; це справжні перфекціоністи. Дбаємо про якість компонентів,
        дотримуємось найкращих кулінарних традицій, доставляємо швидко: всього
        за {{ ui.conf.maxDeliveryTime }} хвилини!
      </p>
      <p class="main-info-p">Monosushi &mdash; це:</p>
      <ul class="main-info-ul">
        <li class="main-info-ul-li">
          Роли які підкорюють з першого шматочка. Якщо ви бажаєте купити кращі
          суші у Львові, то ви потрапили за адресою. В Monosushi ми знаємо про
          смачні роли все. Готуємо з добірних компонентів, дбаємо про найкращі
          гастрономічні враження. Філадельфія з лососем чи Макі з огірком
          &mdash; вирішувати лише вам.
        </li>
        <li class="main-info-ul-li">
          Великі порції. Ми розробили ідеальний розмір порцій. Так, щоб ви могли
          ситно поїсти. Кожну порцію ретельно важимо: ви отримуєте рівно таку
          вагу ролів, як вказана на сайті.
        </li>
        <li class="main-info-ul-li">
          Безкоштовна доставка суші у Львові. Привеземо суші безкоштовно за
          умови замовлення на мінімальну суму. Додому, в офіс чи навіть у парк
          біля дому &mdash; ви отримаєте замовлення швидко та вчасно.
        </li>
      </ul>
      <p class="main-info-p">
        Ви можете замовити смачні та ситні суші з лососем, креветкою. А також
        улюбленими інгредієнтами &mdash; такими, як рис, норі, авокадо, крем
        сир, соус Унагі, зелена цибуля, сирний соус, кунжут білий, ікра масаго.
        Лише найсвіжіші інгредієнти!
      </p>
    </section>
    <section class="main-info-menu">
      <h2 class="main-info-h2">Спробуйте найкращі суші у Львові</h2>
      <p class="main-info-p">
        Меню Monosushi &mdash; це роли на будь-який смак! Ми використовуємо
        добірні інгредієнти та свіжі продукти, щоб ви могли насолоджуватися
        кожною стравою. Готуємо всі види суші &mdash; від класичних до
        авторських.
      </p>
      <p class="main-info-p">
        У нас є запечені
        <a class="main-info-action" routerLink="products/rolls">роли</a> &mdash;
        гарячі та смачні. Готуємо їх з креветкою, лососем, крем-сиром, копченим
        лососем, соусом Унагі. Ставимося до приготування суші з особливою
        увагою. Використовуємо добірні складники, щоб ви могли по-справжньому
        насолоджуватися. У нашій кухні &mdash; стерильна чистота. Саме тому, ви
        можете бути впевнені в безпеці страв.
      </p>
      <p class="main-info-p">
        Найкращий вибір для компанії &mdash; це
        <a class="main-info-action" routerLink="products/sets">сети суші</a> від
        Monosushi. Великі порції та поєднання різноманітних смаків &mdash;
        можливість спробувати щось новеньке. До ролів ми пропонуємо
        безалкогольні напої &mdash; ви можете замовити суші у Львові та одразу
        вибрати сік, колу або фанту до них.
      </p>
    </section>
    <section class="main-info-delivery">
      <h2 class="main-info-h2">Швидка доставка суші у Львові</h2>
      <p class="main-info-p">
        Забудьте про набридливі клопоти з приготуванням їжі. Monosushi бере цю
        функцію на себе. Все, що вам залишилося зробити &mdash; це обрати
        улюблені роли, додати їх у кошик та оформити замовлення. Ми подзвонимо
        вам через декілька хвилин та уточнимо деталі. Одразу після цього ми
        почнемо готувати суші для вас. А кур'єр одразу підхопить замовлення й
        доставить за вашою адресою у будь-який куточок міста.
      </p>
    </section>
    <section class="main-info-expand">
      <p class="main-info-p">
        Оплатити замовлення можна різними способами: онлайн, карткою та готівкою
        при отриманні. Обирайте варіант, який вам зручний.
      </p>
      <p class="main-info-p">
        Якщо ви бажаєте замовити дешеві суші у Львові, ознайомтеся з розділом
        Акції. Ми пропонуємо знижки на рол тижня (ціна -50%), даруємо "Запечений
        сет" на день народження й маємо ще багато цікавого.
      </p>
      <p class="main-info-p">
        Гарантуємо: ви отримаєте роли свіжими, смачними, в акуратному пакуванні.
        Ви можете одразу подавати їх на святковий стіл. Обирайте та замовляйте
        улюблені роли з суші ресторану Monosushi!
      </p>
      <h3 class="main-info-h3">FAQ</h3>
      <h3 class="main-info-h3">Скільки коштує доставка?</h3>
      <p class="main-info-p">
        Доставка безкоштовна за умови замовлення на мінімальну суму. Це 300 грн
        для зеленої зони та 400 для жовтої.
      </p>
      <h3 class="main-info-h3">Як можна оплатити замовлення?</h3>
      <p class="main-info-p">
        Онлайн при оформленні замовлення, готівкою та карткою кур’єру. Кожен
        клієнт суші ресторану Monosushi може обрати спосіб зручний спосіб
        оплати: просто оберіть, як бажаєте розрахуватися.
      </p>
      <h3 class="main-info-h3">Як довго чекати доставку замовлення?</h3>
      <p class="main-info-p">
        Середній час доставки Monosushi &mdash;
        {{ ui.conf.maxDeliveryTime }} хвилини, адже наші кур’єри є справжніми
        перфекціоністами. Точний час отримання замовлення залежить від вашої
        адреси. Перевірити, у якій зоні доставки ви мешкаєте, можна у розділі
        "Доставка та оплата"
      </p>
      <h3 class="main-info-h3">Які у вас постійні знижки?</h3>
      <p class="main-info-p">
        Знижка 50% на рол тижня у нашому меню, акція до дня народження, 3+1=5.
        Ознайомитися з повним переліком знижок на доставку суші можна у розділі
        "Акції" на нашому сайті.
      </p>
      <h3 class="main-info-h3">Який у вас графік роботи?</h3>
      <div class="main-info-p">
        Доставляємо суші та сети щодня з {{ ui.conf.workFrom }} до
        {{ ui.conf.workTo }}. Протягом всього дня ви можете замовити топ суші у
        Львові, та насолодитися улюбленими смаками. Також у вказані години
        працює самовивіз з нашого ресторану.
      </div>
    </section>
    <button class="main-info-spoiler" (click)="ui.toggle()">
      {{ ui.spoiler ? "Згорнути" : "Дізнатись більше" }}
    </button>
  </article>
</div>
