<div class="product">
  <h1 *ngIf="product" class="product-h1">{{ product.name | titlecase }}</h1>
  <div class="product-view">
    <ul class="product-view-menu" *ngIf="path == 'roll'">
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == '' }"
        (click)="ui.categoryChange('')"
      >
        Всі
      </li>
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == 'philadelphia' }"
        (click)="ui.categoryChange('philadelphia')"
      >
        Роли Філадельфія
      </li>
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == 'california' }"
        (click)="ui.categoryChange('california')"
      >
        Роли Каліфорнія
      </li>
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == 'baked' }"
        (click)="ui.categoryChange('baked')"
      >
        Запечені роли
      </li>
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == 'craft' }"
        (click)="ui.categoryChange('craft')"
      >
        Фірмові суші
      </li>
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == 'maki' }"
        (click)="ui.categoryChange('maki')"
      >
        Роли Макі
      </li>
      <li
        class="product-view-menu-item"
        [ngClass]="{ active: ui.category == 'premium' }"
        (click)="ui.categoryChange('premium')"
      >
        Преміум суші
      </li>
    </ul>
    <div class="product-view-wrap">
      <app-item
        class="product-view-wrap-item"
        *ngFor="let item of items | filter : path : ui.category"
        [item]="item"
        (orderEvent)="order($event)"
      ></app-item>
    </div>
  </div>
  <ng-container [ngSwitch]="path">
    <ng-container *ngSwitchCase="'roll'">
      <h2 class="product-h2">
        Суші і роли: по-справжньому великі порції від Monosushi
      </h2>
      <p class="product-p">
        У світі японської кухні є страва, яка закохує з першого шматочка. Це
        &mdash; роли. Якщо ви любите їх так само як і ми, запрошуємо поринути у
        гастрономічну подорож з Monosushi. Готуємо та доставляємо роли у Львові,
        які вам сподобаються. Використовуємо добірні складники, дбаємо про
        дотримання секретних технологій приготування, забезпечуємо швидку
        доставку ролів додому та в офіс. Ви можете замовити суші щодня, з
        {{ ui.workFrom }} до {{ ui.workTo }}. Бажаєте замовити cуші-роли у
        Львові? Monosushi вже тут
      </p>
      <p class="product-p">
        Ми перфекціоністи. І справді любимо азійську кухню. Саме тому, готуємо
        роли, якими не хочеться ділитися: кожен шматочок тішить неймовірним
        смаком. Головний секрет Monosushi &mdash; це якісні продукти. Для
        приготування використовуємо добірні морепродукти, сир, авокадо, соус
        унагі та спайсі, водорості норі. Не економимо, обираючи інгредієнти для
        суші. Це &mdash; важливе правило.
      </p>
      <p class="product-p">
        На нашій кухні &mdash; ідеальна чистота. Дотримуємося санітарних норм,
        щоб ви були на 100% впевнені в безпеці страв, які замовляєте з
        доставкою. Шеф-кухарі слідкують за дотриманням усіх правил приготування
        ролів, ретельно перевіряють якість кожної порції.
      </p>
      <p class="product-p">А ще, команда Monosushi:</p>
      <ul class="product-ul">
        <li class="product-ul-li">
          Уважна до деталей. Ми &mdash; перфекціоністи. Тож ідеальним буде все:
          від смаку ролів до впакування та подачі. Подбаємо про те, щоб ви
          отримали суші смачними, свіжими й естетичними.
        </li>
        <li class="product-ul-li">
          Дуже пунктуальна. Якщо ви голодні, суші хочеться вже і зараз. Не
          змусимо чекати: роли з доставкою у Львові привеземо за
          {{ ui.maxDeliveryTime }} хвилини. Це &mdash; наш середній час доставки
          містом.
        </li>
        <li class="product-ul-li">
          Має вигідні акції для вас. Тішимо вас знижками та даруємо роли на день
          народження. Ознайомитися з акціями можна у відповідному розділі на
          нашому сайті.
        </li>
      </ul>
      <p class="product-p">
        Ми любимо смачні роли, готуємо їх з турботою та можемо доставити за
        будь-якою адресою в місті та за його межами!
      </p>
      <h2 class="product-h2 smaller">Які роли є в меню Monosushi?</h2>
      <p class="product-p">Готуємо роли і суші на будь-який смак:</p>
      <ul class="product-ul">
        <li class="product-ul-li">
          Роли Філадельфія та Каліфорнія &mdash; з лососем, тунцем, креветкою,
          крабом.
        </li>
        <li class="product-ul-li">
          Фірмові суші &mdash; ви можете замовити вегетаріанський рол з чукою,
          Фелікс з креветкою, вугрем або лососем, сирний рол.
        </li>
        <li class="product-ul-li">
          Запечені роли &mdash; гарячі та смачні. Готуємо запечені суші з
          морепродуктами, крем сиром, соусом спайсі, унагі. Використовуємо
          добірний рис.
        </li>
        <li class="product-ul-li">
          Макі &mdash; з авокадо, огірком, лососем та іншими смачними
          компонентами. Це класика суші, яка нікого не залишає байдужим.
        </li>
        <li class="product-ul-li">
          Преміум роли &mdash; на вас чекають авторські новинки від наших шефів
          та суші, яких ви не спробуєте більше ніде. Ми експериментуємо зі
          смаками, пробуємо смачні й незвичайні поєднання. Начинкою для таких
          ролів може стати сніжний краб, королівська креветка, авокадо, шрірача,
          обпалений лосось.
        </li>
      </ul>
      <p class="product-p">
        Суші та роли ми подаємо з різними соусами: спайсі, унагі, соєвим. А
        також рекомендуємо доповнювати смак суші від Monosushi класичними
        додатками &mdash; васабі та імбирем. Не відкладайте задоволення на
        потім: замовляйте й насолоджуйтеся.
      </p>
      <p class="product-p">
        Щоб замовити роли, додайте їх у кошик, залиште свої контактні дані. Ми
        передзвонимо вам за декілька хвилин та підтвердимо замовлення. Шефи
        одразу почнуть готувати роли для вас, а кур’єр &mdash; привезе
        замовлення вчасно. Діє безкоштовна доставка замовлень на суму від 300
        грн.
      </p>
      <p class="product-p">
        Monosushi &mdash; роли, які вам точно сподобаються!
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="'set'">
      <h2 class="product-h2">Доставка суші-сетів для великої компанії</h2>
      <p class="product-p">
        Сет суші &mdash; це найкращий вибір, якщо ви плануєте вечірку вдома. Або
        романтичний вечір. Або просто хочете багато-багато смачних ролів. Ми
        подбали про те, щоб кожен набір був особливим. Та головне &mdash; дуже
        смачним. Замовити суші-сети додому від Monosushi можна щодня й без
        вихідних. Просто оберіть варіант, який вам найбільше сподобався!
      </p>
      <h2 class="product-h2">
        Суші-сети від Monosushi &mdash; яскравий смак та гігантські порції
      </h2>
      <p class="product-p">
        Ми готуємо суші-сети на будь-який смак. Кожна порція &mdash; справді
        велика, тож вистачить на компанію друзів. Свіжість, пікантність,
        гостринка &mdash; в сетах гармонійно поєднуються різні смаки, які
        дарують справжню насолоду.
      </p>
      <p class="product-p">Чому варто замовити суші сет від Monosushi:</p>
      <ul class="product-ul">
        <li class="product-ul-li">
          Можливість спробувати різні смаки. Сет суші з доставкою &mdash; це
          зажди різноманіття ролів і чудова нагода спробувати варіанти, які ви
          ще ніколи не куштували.
        </li>
        <li class="product-ul-li">
          Вдалий вибір на компанію. Коли вдома збираються родичі та друзі,
          домовитися про доставку, яка б сподобалася усім, буває складно. Але
          сет суші &mdash; це завжди компроміс. Ви можете обрати набір, в якому
          будуть різні роли &mdash; такі ж різні, як і смаки ваших гостей.
        </li>
        <li class="product-ul-li">
          Економія коштів для вас. У сеті &mdash; дешевше, ніж окремо. Ви можете
          не переплачувати за кілька маленьких позицій.
        </li>
        <li class="product-ul-li">
          Швидка доставка суші сетів у будь-який куточок міста
        </li>
      </ul>
      <p class="product-p">
        Ми знаємося на секретах приготування суші. Тож впевнені: наші роли вам
        точно сподобаються, а доставка суші сетів у Львові здивує швидкістю та
        пунктуальністю.
      </p>
      <h2 class="product-h2 smaller">Оцініть меню суші-сетів у Львові</h2>
      <p class="product-p">
        Команда Monosushi &mdash; це справжні перфекціоністи. Особливо, коли
        йдеться про приготування суші. Ми знаємо, що секрет смаку &mdash;
        добірні продукти. Свіжі креветки та лосось, авокадо, крем-сир, соус
        Унагі, кунжут &mdash; ми працюємо з перевіреними постачальниками
        товарів, щоб ви отримували лише найкраще. Суші-майстри у нашому закладі
        дотримуються всіх правил приготування суші та ретельно слідкують за
        якістю кожної страви.
      </p>
      <p class="product-p">
        У меню на вас чекає великий вибір суші-сетів у Львові:
      </p>
      <ul class="product-ul">
        <li class="product-ul-li">
          Сет Філадельфія &mdash; з усіма видами суші Філадельфія, які є в
          нашому меню.
        </li>
        <li class="product-ul-li">
          Сет Каліфорнія &mdash; рол з креветкою, вугрем або крабом
        </li>
        <li class="product-ul-li">
          Запечений сет &mdash; для тих, хто полюбляє гарячі роли.
        </li>
        <li class="product-ul-li">
          Класичний сет &mdash; з лососем, креветкою, вугрем та крабом. Смачно
          та різноманітно.
        </li>
        <li class="product-ul-li">
          Унагі сет &mdash; Філадельфія, Каліфорнія та наш фірмовий рол Фелікс.
        </li>
        <li class="product-ul-li">
          Сет макі &mdash; з лососем, огірком та вугрем. Класика суші, яка
          ніколи не набридає.
        </li>
      </ul>
      <p class="product-p">
        Додавайте улюблений сет у кошик на сайті та оформляйте замовлення.
        Найшвидша доставка Monosushi привезе суші сет всього за 43 хвилини за
        вашою адресою. Безкоштовна доставка суші сетів діє від 300 грн.
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="'drink'">
      <h2 class="product-h2">Безалкогольні напої до суші та ролів</h2>
      <p class="product-p">
        Смакувати улюбленими ролами ще приємніше, якщо обрати до них напої.
        Тепер вам не доведеться витрачати час і йти до супермаркету. Обрати
        безалкогольний напій можна в меню Monosushi. Просто додайте варіант,
        який вам сподобався, у кошик, та оформіть замовлення. Діє безкоштовна
        доставка замовлень на суму від 300 грн!
      </p>
      <h2 class="product-h2">Які безалкогольні напої є в Monosushi?</h2>
      <p class="product-p">
        Смачні, свіжі, різноманітні! Наша команда &mdash; це справжні
        перфекціоністи. Тож ми подбали про те, щоб ви могли замовити лише
        добірну продукцію від надійних виробників.
      </p>
      <p class="product-p">Смакувати суші приємніше з:</p>
      <ul class="product-ul">
        <li class="product-ul-li">соком;</li>
        <li class="product-ul-li">фантою;</li>
        <li class="product-ul-li">кока-колою.</li>
      </ul>
      <p class="product-p">
        Меню напоїв лише ростиме з часом, тож ви гарантовано зможете обрати
        варіант, який до душі саме вам. Смак суші буде лише яскравішим з вдало
        обраним напоєм.
      </p>
      <p class="product-p">
        Замовити безалкогольні напої &mdash; так само просто, як і ваші улюблені
        страви. Додайте напій у кошик, залиште свої контактні дані, та
        дочекайтеся дзвінка менеджера. Ми передзвонимо вам за декілька хвилин й
        уточнимо всі деталі замовлення. Доставляємо напої та суші справді
        швидко. Всього 43 хвилини &mdash; 1 година, і замовлення буде біля ваших
        дверей!
      </p>
      <h2 class="product-h2 smaller">
        Які безалкогольні напої до суші обирають японці?
      </h2>
      <p class="product-p">
        Найчастіше, це &mdash; зелений або трав’яний чай. Але не пакетований:
        лише добірний листовий. У напій не додають цукор чи інші підсолоджувачі.
        Вибір такого напою продиктований не лише японськими традиціями, а й тим,
        що в зеленому чаї міститься багато ферментів, які покращують травлення.
      </p>
      <p class="product-p">
        У світі ж до суші частіше замовляють соки, звичайну воду або ж біле
        вино.
      </p>
      <p class="product-p">
        Обирайте напій, який вам до душі, та замовляйте з доставкою додому або в
        офіс. Monosushi подбає про швидку доставку!
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="'sauce'">
      <p class="product-p">
        Кожне замовлення включає в себе безкоштовні прибори, кількість яких
        залежить від кількості замовлених ролів. (1 рол = 1 людина)
      </p>
      <ul class="product-ul">
        <li class="product-ul-li">Імбир</li>
        <li class="product-ul-li">Васабі</li>
        <li class="product-ul-li">Соєвий соус</li>
      </ul>
    </ng-container>
  </ng-container>
</div>
