@import "../../../style/media";
@import "../../../style/colors";
@import "../../../style/mixins";

.spoiler {
  .products {
    &-rolls {
      .products-expand {
        max-height: 105rem;

        @include _768 {
          max-height: 45rem;
        }

        @include _1200 {
          max-height: 40rem;
        }
      }
    }

    &-sets {
      .products-expand {
        max-height: 87rem;

        @include _768 {
          max-height: 36rem;
        }

        @include _1200 {
          max-height: 32rem;
        }
      }
    }

    &-drinks {
      .products-expand {
        max-height: 41rem;

        @include _768 {
          max-height: 21rem;
        }

        @include _1200 {
          max-height: 17rem;
        }
      }
    }
  }

  .products-spoiler {
    &::after {
      top: 0.375rem;
      transform: rotate(-135deg);
    }
  }
}

.products {
  @include container();
  align-items: flex-start;

  &-h1 {
    align-self: center;
    @include h1-lined();
  }

  &-view {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 1.5rem;

    @include _768 {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

    @include _1200 {
      margin-inline: -12vw;
      padding-top: 4rem;
      padding-bottom: 8rem;
    }

    &-menu {
      display: none;

      @include _1200 {
        list-style: none;
        align-self: stretch;
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
      }

      &-item {
        text-transform: capitalize;
        padding: 1.5rem 0.75rem;
        width: 10rem;
        text-align: center;
        border: 1px solid $gray;
        margin-left: -1px;
        font-weight: bold;
        color: $muted;
        cursor: pointer;
        transition: 0.33s;

        @include _1200 {
          &:hover {
            color: $text;
          }
        }

        &.active {
          border-color: transparent;
          position: relative;
          color: $text;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 0.25rem;
            background-color: $monosushi;
          }
        }
      }
    }

    &-wrap {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include _768 {
        align-self: stretch;
        display: grid;
        grid-template-columns: repeat(auto-fill, 22rem);
        grid-gap: 1rem;
        justify-content: space-around;
      }

      &-item {
        width: calc(10rem + 40vw);

        @include _768 {
          width: auto;
        }
      }
    }
  }

  &-h2 {
    @include h2();
    margin-bottom: 1.5rem;

    &:not(.smaller) {
      @include _1200 {
        font-size: 2.5rem;
      }
    }
  }

  &-p {
    @include p();
    margin-bottom: 1.5rem;
  }

  &-ul {
    @include ul();
    margin-bottom: 1.5rem;

    &-li {
      margin-bottom: 0.5rem;
    }
  }

  &-expand {
    height: auto;
    max-height: 0;
    overflow-y: hidden;
    transition: 0.5s ease-out;
  }

  &-spoiler {
    @include button-custom();
    @include action();
    padding-inline-end: 1.5rem;

    &::before {
      bottom: -0.25rem;
    }

    &::after {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      top: 0.125rem;
      right: 0.125rem;
      transform: rotate(45deg);
      transition: 0.33s;

      border: {
        bottom: 0.125rem solid $monosushi;
        right: 0.125rem solid $monosushi;
      }
    }
  }
}
